html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin{
    width: 100%;
    max-width: 330px;
    padding: 0px;
    margin: auto;
}

.error{
    background-color: red;
}

