<!--Popup management file-->
<div class="popup" style="width: 200px">
  <div class="popup-small chevron flex-spread">
    <div class="name-box" style="">
      <i id="name">Name</i>
    </div>
 </div>
  <div class="popup-big" style="/*display:none;*/">
   <div class="description-box">
     <span id="description">Description</span><br/>
     <a href="" target="_blank" id="link">More info...</a>
   </div>
   <div class="flex-spread ">
     <a href="#" id="set-start"><img src="../images/start.png" alt="Set as start"></img></a>
     <a href="#" id="set-end"><img src="../images/finish.png" alt="Set as end"></img></a>
   </div>
  </div>
</div>
